@model IEnumerable<AOWebApp.Models.Item>

@{
    ViewData["Title"] = "Index";
}

<h1 class="rounded bg-secondary-subtle text-center pb-2">Shop Items</h1>

<p>
    <a class="btn btn-outline-info" asp-action="Create">Create New</a>
</p>

<form method="post" asp-action="Index" asp-controller="Items">
    <div class="flex-row d-flex">
        <div class="input-group">
            <span class="input-group-text">Item Search</span>
            <input name="searchText" type="text" class="form-control" title="Search by item name, Max 100 chars." placeholder="Type here..." maxlength="100" value="@ViewBag.searchText">
        </div>

        <select name="categoryId" title="View items for a specific category" class="form-control" asp-items="@ViewBag.CategoryList">
            <option value="">All Categories</option>
        </select>

    </div>
    <div class="mt-4 mb-4">
        <button type="submit" class="btn btn-outline-primary">Submit</button>
        <a asp-action="Index" asp-controller="Items" class="btn btn-outline-danger">Reset</a>
    </div>
</form>

@if (@ViewBag.itemsCount > 0)
{
    string ItemsCountMessage = ViewBag.itemsCount == 1 ? "1 item found" : "2+ items found";
    
    <h3 class="text-success">Results: @ItemsCountMessage</h3>
    <div class="row gy-3 gx-3">
        @foreach (var item in Model)
        {
            <div class="col-4">
                <div class="card">
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">@Html.DisplayFor(modelItem => item.ItemName)</h5>
                        <p class="card-text mb-0">Category: @Html.DisplayFor(modelItem => item.Category.CategoryName)</p>
                        <p class="card-text mb-0">Description: @Html.DisplayFor(modelItem => item.ItemDescription)</p>
                        <p class="card-text mb-0">Cost: @Html.DisplayFor(modelItem => item.ItemCost)</p>
                        <img src="@item.ItemImage" class="card-img-top w-50 mt-2" alt="@item.ItemName">
                        <a asp-action="Details" asp-route-id="@item.ItemId" class="btn btn-outline-primary w-50 mt-2">View Item Detail</a>
                    </div>
                </div>
            </div>
        }
    </div>
} else
{
    <h3 class="text-danger">Results: @ViewBag.itemsCount</h3>
}

