@model AOWebApp.ViewModels.ItemSearch;

@functions {
    public string isSelected(string value, string currentValue)
    {
        return value == currentValue ? "selected" : "";
    }
}

@{
    ViewData["Title"] = "Index";
}

<h1 class="rounded bg-secondary-subtle text-center pb-2">Shop Items</h1>

<p>
    <a class="btn btn-outline-info" asp-action="Create">Create New</a>
</p>

<form method="post" asp-action="Index" asp-controller="Items">
    <div class="flex-row d-flex">
        <div class="input-group">
            <span class="input-group-text">Item Search</span>
            <input asp-for="SearchText" type="text" class="form-control" title="Search by item name, Max 100 chars." placeholder="Type here..." maxlength="100" value="@Model.SearchText">
        </div>

        <select asp-for="CategoryId" title="View items for a specific category" class="form-control" asp-items="@Model.CategoryList">
            <option value="">All Categories</option>
        </select>

        <select name="SortOrder" class="form-control">
            <!option value="" @isSelected("", @Model.SortOrder)>Item Name [asc]</!option>
            <!option value="nameDesc" @isSelected("nameDesc", @Model.SortOrder)>Item Name [desc]</!option>
            <!option value="priceAsc" @isSelected("priceAsc", @Model.SortOrder)>Item Price [asc]</!option>
            <!option value="priceDesc" @isSelected("priceDesc", @Model.SortOrder)>Item Price [desc]</!option>
        </select>


    </div>
    <div class="mt-4 mb-4">
        <button type="submit" class="btn btn-outline-primary">Submit</button>
        <a asp-action="Index" asp-controller="Items" class="btn btn-outline-danger">Reset</a>
    </div>
</form>

@if (Model.Items?.Count > 0)
{
    string ItemsCountMessage = Model.Items.Count == 1 ? "1 item found" : "2+ items found";
    
    <h3 class="text-success">Results: @ItemsCountMessage</h3>
    <div class="row gy-3 gx-3">
        @foreach (var itemDetail in Model.Items)
        {
            <div class="col-4">
                <div class="card">
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">@Html.DisplayFor(modelItem => itemDetail.TheItem.ItemName)</h5>
                        <p class="card-text mb-0">Category: @Html.DisplayFor(modelItem => itemDetail.TheItem.Category.CategoryName)</p>
                        <p class="card-text mb-0">Description: @Html.DisplayFor(modelItem => itemDetail.TheItem.ItemDescription)</p>
                        <p class="card-text mb-0">Cost: @Html.DisplayFor(modelItem => itemDetail.TheItem.ItemCost)</p>
                        <img src="@itemDetail.TheItem.ItemImage" class="card-img-top w-50 mt-2" alt="@itemDetail.TheItem.ItemName">
                        <a asp-action="Details" asp-route-id="@itemDetail.TheItem.ItemId" class="btn btn-outline-primary w-50 mt-2">View Item Detail</a>
                    </div>
                </div>
            </div>
        }
    </div>
} else
{
    <h5 class="text-danger">Ooops, no items matched your search</h5>
}

