@model AOWebApp.ViewModels.CustomerSearch;

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<form method="post" asp-controller="Customers" asp-action="Index">
    <div class="d-flex">
        <input list="CustomerNamesList" asp-for="SearchText" class="form-control" type="text" title="Customer name search box" />

        <datalist id="CustomerNamesList">
            @foreach (var name in Model.CustomerNames)
            {
                <option value="@name">@name</option>
            }
        </datalist>

        <select class="form-control" asp-for="Suburb" asp-items="@Model.SuburbList">
            <option value="">All suburbs</option>
        </select>
         
        <button class="btn btn-outline-primary" type="submit">Search</button>
        <a class="btn btn-outline-success" asp-action="Create">Create New</a>
    </div>
</form>

<p>Matching Records Returned: @Model.Customers.Count</p>

@if (Model.Customers.Count > 0)
{

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Customers[0].FullName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Customers[0].Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Customers[0].ContactNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Customers[0].Address)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Customers)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FullName)
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ContactNumber)
                    <td>
                        @Html.DisplayFor(modelItem => item.FullAddress)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.CustomerId">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.CustomerId">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.CustomerId">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
} else
{
    <h5 class="text-danger">Please search for a customer name.</h5>
}
